body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #gameCanvas {
    background-position: center center;
  }
  
  canvas {
    background: #ffffff;
    display: block;
    margin: 0 auto;
  }
  